<footer class="site-footer">
    <div class="container">
        <div class="row">
                <div class="col-sm-6"><a class="footer-brand page-scroll" href="#page-top"><img class="brand-logo" src="{{ '/img/mantech-fox.png' | relative_url }}" alt="" aria-hidden="true"> Manchester
                    TechLab</a>
            </div>
                <div class="col-sm-6 footer-links"><a class="page-scroll" href="#about">Misión</a><a class="page-scroll"
                    href="#mentors">Mentores</a><a class="page-scroll" href="#apply">Contáctanos</a><a href="mailto:{{ site.email }}"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>Email</a><a href="https://chat.whatsapp.com/JhwvQb9KWA0GSP654Fhb85?s=sh&amp;p=a&amp;mlu=4&amp;ilr=4"
                    target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp" aria-hidden="true"></i>Grupo de WhatsApp</a></div>
        </div>
        <div class="footer-bottom">&copy; {{ 'now' | date: '%Y' }} Manchester TechLab.</div>
    </div>
</footer>
