<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" aria-label="Navegación principal">
    <div class="container">
        <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#site-navigation" aria-expanded="false"><span class="sr-only">Abrir navegación</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a
                class="navbar-brand page-scroll" href="#page-top"><span class="brand-mark">M/</span> Manchester TechLab</a>
        </div>
        <div class="collapse navbar-collapse" id="site-navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="#about">Misión</a></li>
                <li><a class="page-scroll" href="#mentors">Mentores</a></li>
                <li class="nav-apply"><a class="page-scroll" href="#apply">Contáctanos</a></li>
                <li class="nav-language"><span class="language-toggle language-pending"
                        title="La versión en inglés estará disponible próximamente">EN</span></li>
            </ul>
        </div>
    </div>
</nav>
